alias la='ls -la'
alias ll='ls -lah'
alias ga='git add'
alias gc='git commit'
alias gp='git push'

step=5

alias vup="amixer set Master ${step}%+ > /dev/null"
alias vdown="amixer set Master ${step}%- > /dev/null"
alias vm="amixer set Master toggle > /dev/null"

alias d='dirs -v'
# for index ({1..9}) alias "$index"="cd +${index}"; unset index

alias mc='tmux split -h lf -command "set nopreview;set ratios 1"; lf -command "set nopreview;set ratios 1"'

# ╭────────────╮
# │ AWK FOR BI │
# ╰────────────╯

alias awk_def='awk -v FS="\t" -v OFS="\t"'

# ╭─────────╮
# │ WEATHER │
# ╰─────────╯

alias weather='curl wttr.in/Moscow'
